.home {
  padding: 0rem 1rem;
}
@media screen and (max-width: 800px) {
  .home {
    padding: 15px 5px;
  }
  html{
    font-size: 0.8rem;
  }
  
}
html {
  scroll-behavior: smooth;
}
.home h1 {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  color: rgb(24, 33, 160);
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}
.navbar {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "urbanist", sans-serif;
  font-weight: 600;
  color: rgb(24, 33, 160);
  border-radius: 2rem;
  position: sticky;
  top: 2rem;
  z-index: 1000;
}
.profile {
  padding: 2rem 4rem;

}
.profile h3 {
  font-size: 1.5rem;
}
.profile p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.profile img {
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  border-radius: 2rem;
  border : 0.5px solid rgb(177, 187, 197);
}
.download-btn {
  background-color: rgb(24, 33, 160); 
  color: white; 
  font-family: 'urbanist', sans-serif; 
  font-weight: bold; 
  padding: 10px 20px; 
  border-radius: 7px; 
  border: none; 
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-transform: capitalize; 
  transition: background-color 0.3s ease; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  
}

.download-btn:hover {
  background-color: rgb(19, 27, 131); 
}


.download-btn:before {
  content: "\f1c1"; 
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  margin-right: 10px; 
}

.download-btn:active {
  transform: translateY(2px); 
}

@media screen and (max-width: 800px) {
  
  .download-btn {
    
padding: 10px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-transform: capitalize; 
    transition: background-color 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 33, 160); 

   
  }
  .download-btn:hover {
    background-color: rgb(19, 27, 131); 
  }
  .download-btn:before {
    content: "\f1c1"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
  
  }
  .download-btn:active {
    transform: translateY(2px); 
  }
  
}
.profile-image {
  width: 25rem;
  height: 30rem;

  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-info {
  height: 40rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .profile {
    
    padding: 8rem 0rem;
  }
  .profile img {
    width: 20rem;
    height: 25rem;
  }
  .profile-image {
    width: 20rem;
    height: 35rem;
  }
  .profile-info {
    padding: 0rem 0rem;
    height: 30rem;
  }
  
}

.name {
  font-size: 2.5rem;
  color: rgb(24, 33, 160);
  font-weight: 700;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}
.status {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
}

.cursus {
  padding: 0rem 4rem;
}

.cursus-item {
  padding: 10rem 4rem 0rem 4rem;
}
.cursus-item h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  color: rgb(24, 33, 160);
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}
.cursus-item p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-align: justify;
}

.cursus-item img {
  width: 55rem;
  height: 20rem;
  border-radius: 2rem;
  box-shadow: 0 0px 2rem rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .cursus-item img {
    width: 20rem;
    height: 12rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  .cursus-item {
    padding: 1rem 0rem;
  }
  .cursus {
    padding: 25rem 0.5rem 0.5rem 0.5rem;
    
    font-size: 1rem;
  }

  .cursus-item h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "urbanist", sans-serif;
    text-transform: capitalize;
    color: rgb(24, 33, 160);
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }
  
  
}
.bac-img {
  width: 55rem !important;
  height: 25rem !important;
  padding: 0rem 0rem;
  border-radius: 0rem !important;
  box-shadow: 0 0px 2rem rgba(0, 0, 0, 0.5) !important;
}

.skills {
  padding: 10rem 4rem;
}

.skills p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-align: justify;
}

.skills-item {
  padding: 4rem 4rem 0rem 4rem;
}
.skills-item h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  color: rgb(24, 33, 160);
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}
.list-skills {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-align: justify;
}
.Frameworks,
.Databases,
.Streaming,
.Tools,
.Operation_Systems,
.IDEs,
.Languages,
.DevOps{
  text-align: center !important;
  font-size: 1.5rem !important;
  font-weight: 700;
  font-family: "cairo", sans-serif;
  text-transform: capitalize;
  padding: 1rem !important;
}
.skills-item img {
  width: 5rem;
  height: 7rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .skills {
    padding: 10rem 0.5rem 0.5rem 0.5rem !important;
    
    font-size: 1rem;
  }

  .skills-item h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "urbanist", sans-serif;
    text-transform: capitalize;
    color: rgb(24, 33, 160);
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }
  .skills-item img {
    width: 3rem;
    height: 5rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2rem;
  }
  .list-skills {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
  .Frameworks,
  .Databases,
  .Streaming,
  .Tools,
  .Operation_Systems,
  .IDEs,
  .Languages,
  .DevOps{
    text-align: center !important;
    font-size: 1rem !important;
    font-weight: 700;
    font-family: "cairo", sans-serif;
    text-transform: capitalize;
    padding: 1rem !important;
  }
  
}

.projects {
  padding: 2rem 4rem;
}

.project {
  padding: 5rem 4rem 1rem 4rem;
  border-radius: 2rem;
  border: 1px solid rgba(26, 26, 26, 0.46);
}

.project h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  color: rgb(24, 33, 160);
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}

.project h5 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "cairo", sans-serif;
  text-transform: capitalize;
  color: rgb(26, 26, 26);
  text-align: left;
}

.project p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-align: justify;
}

.project img {
  width: 2rem;
  height: 4rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-image{
  padding: 2rem 0rem;

  width: 90% !important;
  height: 100% !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}
.project-image-wrapper{
  padding: 0rem 0rem;
 

}

.project-tasks {
  padding: 0rem 3rem 1rem 3rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-family: "cairo", sans-serif;
}

.project-file {
  padding: 2rem 0 0 0;
  border-radius: 2rem;
}

.project-file p {
  background-color: rgb(255, 255, 255);
  color: rgb(24, 33, 160);
  border: 1px solid rgb(24, 33, 160);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  font-family: "urbanist", sans-serif;
  border-radius: 1rem;
}

.project-file p:hover {
  background-color: rgb(24, 33, 160);
  color: rgb(255, 255, 255);
}

.download img {
  width: 4rem;
  height: 5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projectsh1 {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  color: rgb(24, 33, 160) !important;
  padding: 0 2rem 4rem 2rem !important;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .projects {
    padding: 2rem 0.5rem;
  }
  .project {
    padding: 1rem 0.5rem;
  }
  .project h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "urbanist", sans-serif;
    text-transform: capitalize;
    color: rgb(24, 33, 160);
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }
  .project h5 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "cairo", sans-serif;
    text-transform: capitalize;
    color: rgb(26, 26, 26);
    text-align: center;
  }
  .project p {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
  .project img {
    width: 2rem;
    height: 4rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .project-image {
    padding: 2rem 0rem;
    width: 90% !important;
    height: 100% !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .project-image-wrapper {
    padding: 0rem 0rem;
  }

  .project-tasks {
    padding: 0rem 3rem 1rem 3rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: "cairo", sans-serif;
  }
  .project-file {
    padding: 2rem 0 0 0;
    border-radius: 2rem;
  }
  .project-file p {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 33, 160);
    border: 1px solid rgb(24, 33, 160);
  
}
}

.contact-form{
  padding: 5rem 25rem;
  

}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  border: 1px solid rgb(24, 33, 160);
  font-size: 1.2rem;
  font-family: "cairo", sans-serif;
  font-weight: 600;

}

.contact-form button {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  border: 1px solid rgb(24, 33, 160);
  font-size: 1.2rem;
  font-family: "cairo", sans-serif;
  font-weight: 600;
  background-color: rgb(24, 33, 160);
  color: rgb(255, 255, 255);
}
.contact-form button:hover {
 
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 33, 160);
}

.wrapper-buttons-gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
}
.prev,.next{

  height: fit-content;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 50%;

  transition: all 0.25s ease-in-out;
}
.next:hover , .prev:hover{

  color: rgb(24, 33, 160);
}
.no-page{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "urbanist", sans-serif;
  text-transform: capitalize;
  color: rgb(24, 33, 160) !important;
}


.end {
  color: slategray;
}

@media screen and (max-width: 800px) {
  .contact-form {
    padding: 1rem 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem 1.5rem;
 
    border-radius: 1rem;
    border: 1px solid rgb(24, 33, 160);
    font-size: 1.2rem;
    font-family: "cairo", sans-serif;
    font-weight: 600;
  }
  .contact-form button {
    width: 100%;
    padding: 0.5rem 1.5rem;

    border-radius: 1rem;
    border: 1px solid rgb(24, 33, 160);
    font-size: 1.2rem;
    font-family: "cairo", sans-serif;
    font-weight: 600;
    background-color: rgb(24, 33, 160);
    color: rgb(255, 255, 255);
  }
  .contact-form button:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 33, 160);
  }
  .wrapper-buttons-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.5rem;
  }
  .prev,
  .next {
    height: fit-content;
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
  }
  .next:hover,
  .prev:hover {
    color: rgb(24, 33, 160);
  }
  .no-page {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "urbanist", sans-serif;
    text-transform: capitalize;
    color: rgb(24, 33, 160) !important;
  }
  .end {
    color: slategray;
  }
  
}




